/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
body {
  position: relative;
  color: white;
  height: 100vh;
  background: #404040;
  font-family: sans-serif;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

button {
  background-color: #c0c0c0;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  appearance: none;
  font-size: 1.3rem;
  cursor: pointer;
}

button:hover {
  background-color: white;
}

button:disabled:hover {
  background-color: #c0c0c0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  height: fit-content;
  width: fit-content;
}

a:hover {
  opacity: 1;
  text-decoration: none;
}

.black {
  color: black;
  fill: black;
  stroke: black;
}

.white {
  color: white;
  fill: white;
  stroke: white;
}

.gray {
  color: #808080;
  fill: #808080;
  stroke: #808080;
}

.partialOpacity {
  opacity: 0.3;
}

.invisible {
  visibility: hidden;
}

// Home

.Home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.Home img {
  margin: 24px;
}

.Home a {
  margin: 12px;
}

.Home button {
  width: 240px;
}

// Hex settings

.HexSettings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.3rem;
  width: calc(100vw - 24px);
  height: calc(100vh - 24px);
}

.HexSettings h3 {
  margin: 12px 0px;
}

.HexSettings > div > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.HexSettings > div > form > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.HexSettings input[type='checkbox'] {
  margin-left: 12px;
  vertical-align: middle;
}

.HexSettings input[type='radio'] {
  margin-right: 12px;
  vertical-align: top;
}

.HexSettingsTopPanel {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.HomeButton {
  flex: 1;
  display: flex;
  margin-right: auto;
}

.HexSettingsTopPanel > h1 {
  flex: 2;
  display: flex;
  justify-content: center;
}

.HexSettingsTopPanel > div {
  flex: 1;
  display: flex;
  margin-left: auto;
}

.BoardSizeSelector {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BoardSizeSelector input {
  margin: 0px 12px;
}

.BoardSizeSelector button {
  width: 36px;
  height: 36px;
  padding: 1px 0px 0px 1px;
  vertical-align: middle;
}

.BoardSize {
  padding-bottom: 6px;
}

.ColorChoice {
  padding-bottom: 12px;
}

// Host netplay

.HostNetplay {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.3rem;
  width: calc(100vw - 24px);
  height: calc(100vh - 24px);
}

.HostNetplayTopPanel {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.HostCodeDisplay {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.HostCodeDisplay button {
  margin-bottom: 12px;
}

.HostNetplayBottomPanel {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ClickToCopy {
  font-family: monospace;
  font-weight: bold;
  color: white;
  background-color: #202020;
}

.ClickToCopy:hover {
  text-decoration: underline;
  background-color: #202020;
}

// Connect to peer

.ConnectToPeer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.3rem;
  width: calc(100vw - 24px);
  height: calc(100vh - 24px);
}

.ConnectToPeerTopPanel {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}

.ConnectToPeer form {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.ConnectToPeer form label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 200px;
}

.ConnectToPeer form button {
  margin-top: 36px;
}

// Hex game

.HexGame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: calc(100vw - 24px);
  height: calc(100vh - 24px);
  font-size: 1.3rem;
}

// subtract margins, top panel, and bottom panel
.HexBoard {
  height: calc(100vh - 24px - 98px - 45px);
  max-width: calc(100vw - 24px);
}

.Hexagon {
  stroke: #404040;
  stroke-width: 0.05;
}

.Circle {
  stroke: none;
}

.Border {
  fill: none;
  stroke-width: 0.2;
}

.CoordinateLabel {
  fill: #c0c0c0;
  font-size: 0.03rem;
}

.PieceMarker {
  stroke: none;
}

.LastMoveMarker {
  color: none;
  fill: none;
  stroke-width: 0.08;
}

.PlayerNames {
  background-color: #808080;
  padding: 6px 6px;
  border-radius: 10px;
  font-size: 1.8rem;
}

.PlayerNames > div {
  padding: 4px;
}

// Hex game: top panel

.HexGameTopPanel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
}

.DialogPanel {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.WinnerAnnouncement {
  padding-bottom: 6px;
}

.SwapDialog {
  padding-bottom: 6px;
}

.SwapDialog > button {
  margin-left: 12px;
  width: 80px;
}

.UndoDialogButton {
  margin-left: 12px;
}

// Hex game: bottom panel

.HexGameBottomPanel {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 100%;
}

.MoveHistoryButtons {
  flex: 2;
  display: flex;
  justify-content: center;
}

.MoveHistoryButtons > button {
  margin-left: 6px;
  margin-right: 6px;
  width: 72px;
}

.ConnectionStatus {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

.UndoButton {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
